<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="description" content="pure pomodoro page">
    <title>Pomodoro Timer</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/pomodoro.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/img/clock_icon.png">
</head>
<body class="run-mode">
    <h1 class="title">Pomodoro</h1>
    <p class="alert-section"></p>
    <h1 class="timer">
        <span class="minute">0</span>
        <span class="col">:</span>
        <span class="second">0</span>
    </h1>
    <div class="btn-section">
        <button class="btn start">Start</button>
        <button class="btn stop">Stop</button>
        <button class="btn reset">End</button>
    </div>
    <script src="/static/js/pomodoro.js"></script>
</body>
</html>