body {
    background-image: url(/static/img/fresh01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(30, 126, 8);
}

.btn {
    color: white !important;
    background: rgb(30, 126, 8) !important;
    border: 1px solid white !important;
}
.inputBtn {
    color: white !important;
    background: rgb(30, 126, 8) !important;
    border: 1px solid white !important;
}


.sideBar {
    background-color: #DAF5FF;
    border: 0px;
    color: #5FA312;
}
.offcanvas {
    background-color: #DAF5FF;
}
.dropdown-menu {
    background-color: #89daf8;
}

.todoContainer,
.todoLogo {
    color: rgb(26, 76, 14) !important;
    border-color: rgb(26, 76, 14) !important;
}

.todoContainer {
    background-color: #5FA312 !important;
}

