body {
    background-image: url(../img/fresh01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: greenyellow;
}

.btn {
    color: white !important;
    background: greenyellow !important;
    border: 1px solid white !important;
}
.inputBtn {
    color: white !important;
    background: greenyellow !important;
    border: 1px solid white !important;
}


.sideBar {
    background-color: #DAF5FF;
    border: 0px;
    color: #5FA312;
}
.offcanvas {
    background-color: #DAF5FF;
}
.dropdown-menu {
    background-color: #89daf8;
}

.todoContainer,
.todoLogo {
    color: greenyellow !important;
    border-color: greenyellow !important;
}

.todoContainer {
    background-color: #5FA312 !important;
}

