body{
    background-image: linear-gradient(rgba(0,0,0, 1),  rgba(5, 5, 2, 0.6));
    background-repeat: repeat;
    /* background-color: black; */
    background-size: 50 vw;
    color: white;
    /* background-image: url(); */
    background-position: top;
}
.title{
    z-index: 10;
    
    position: relative;
    font-size: 8vh;
}
.subTitle{
    font-size: 5vh;
    margin: 2vh 0 ;
}

#printBox1, #printBox2 {
    margin: 5vh 2vw;
    display: none;
    /* margin: 0 10%; */
    background-color: rgba(230, 230, 230, 0.9);
    border: 2px solid white;
    
    padding: 1vh 2vw;
    font-size: 3vh;
}
#printBox2 {
    margin-top: 7vh;
    background-color: rgba(230, 230, 230, 0.9);
    color: black;
}
.numCir{
    width: 40px;
    height: 40px;
    display: inline-block;        
    padding: 10px 4px 0;;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: bold;
    box-shadow: 0 5px 10px -7px rgba(0,0,0,0.8);

    /* vertical-align: middle; */
}
form{
    text-align: center;
    align-items: center;
    position: top;
    border-right: dashed 3px rgba(100, 100, 100, 0.9);
    border-top: dashed 3px rgba(230, 230, 230, 0.9);
    /* height: auto; */


}
input{
text-align: right;
}

section{
    overflow:auto;
    height: 100vw;
    font-size: 1rem;
    display: flex;
    /* background-color: aquamarine; */
    /* margin-top: 13vh; */

}

.left, .right{
    width: 50vw;
    /* height: 20vh; */
    /* margin-left: 3%; */
    /* margin-right: 3%; */
    display: inline-block;
    /* background-color: brown ; */
    
}

.btn{
    border-radius: 50% !important;
    /* height: 50px !important; */
    padding: 2vh 1vh;

    font-size: 2vh;
    font-weight: 900;    
}    
.btn:click {
    transform: translateY(-20%);

}
.inputBtn {
    border: solid 2px white;
    border-radius: 15px;
    width: 35px;
    height: 25px;
    background-color: rgb(200, 200, 200);
    text-align: center;
    font-size: 2vh;
    box-shadow: 0 5px 10px -7px rgba(255, 255, 255 ,1);

}
.vline{
    width: 50vw;
    /* height: 100%; */
    border-right: dashed 3px rgba(100, 100, 100, 0.9);
    /* border-top: dashed 3px rgba(230, 230, 230, 0.9); */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
    margin: 0;
}

.bi-gem-none{
    color:  black;
}

/*input 은 숨겨주기*/
input#OcheckBox{
    display:none;
    }
  /*input 바로 다음의 label*/
  input#OcheckBox + label{
    cursor:pointer;
   }
  
  /*input 바로 다음의 label:before 에 체크하기 전 CSS 설정*/
  input#OcheckBox + label:before{
    content:"";
    display:inline-block;
    width:17px;
    height:17px;
    line-height:17px;
    border:1px solid #cbcbcb;
    vertical-align:middle;/*체크 전과 체크 후 높이 차이 때문에 설정*/
    }
    
  /*checked된 input 바로 다음의 label:before 에 체크 후 CSS 설정*/  
  input#OcheckBox:checked + label:before{
    content:"\f00c";/*폰트어썸 유니코드*/
    font-family:"Font Awesome 5 free"; /*폰트어썸 아이콘 사용*/
    font-weight:900;/*폰트어썸 설정*/
    color:#fff;
    background-color:#000;
    border-color:#000;
    font-size:13px;
    text-align:center;
    }

@media(max-width: 767px){
    .vline{
        border: none;
    }
    form{
        border: none;
    }
    section{
        flex-direction: column;
        align-items: center;
        /* justify-content: space-between; */
    }
    .left{
        margin-bottom: 10vh;
    }
    .numCir{
        font-size: 16px;
        width: 30px;
        height: 30px;
    }
    
}