body{
    background-image: linear-gradient(rgba(0,0,0, 1),  rgba(5, 5, 2, 0.6));
    background-repeat: repeat;
    background-size: 50 vw;
    color: white;
    background-position: top;
}
.title{
    position: relative;
    font-size: 8vh;
}
.title> a{
    text-decoration: none;
    color: white;
}
.subTitle{
    font-size: 5vh;
    margin: 2vh 0 ;
}
section{
    overflow:auto;
    height: 100vw;
    font-size: 1rem;
    display: flex;
}
.bi-gem{
    color: white;
}
.bi-arrow-90deg-up{
    color: #000;
}
.bi-gem-none{
    color: rgba(0,0,0, 0);
}
.vline{
    width: 50vw;
    border-right: dashed 3px rgba(100, 100, 100, 0.9);
}
form{
    text-align: center;
    align-items: center;
    position: top;
    border-right: dashed 3px rgba(100, 100, 100, 0.9);
    border-top: dashed 3px rgba(230, 230, 230, 0.9);
}
.left, .right{
    width: 50vw;
    display: inline-block;    
}
input{
    text-align: right;
    }
.btn{
    border-radius: 50% !important;
    padding: 2vh 1vh;
    font-size: 2vh;
    font-weight: 900;    
}    
.btn:click {
        transform: translateY(-20%);
    
    }
.inputBtn {
    border: solid 2px white;
    border-radius: 15px;
    width: 40px;
    height: 25px;
    background-color: rgb(200, 200, 200);
    text-align: center;
    font-size: 2vh;
    box-shadow: 0 5px 10px -7px rgba(255, 255, 255 ,1);
}
#printBox1>.btn{
    margin-top: 10px;
}
#printBox1, #printBox2 {
    margin: 5vh 0;
    width: 40vw;
    display: none;
    background-color: rgba(230, 230, 230, 0.9);
    border: 2px solid white;
    padding: 2vh 0;
    font-size: 16px;
}
#printBox2 {
    margin-top: 7vh;
    background-color: rgba(230, 230, 230, 0.9);
    color: black;
}
.numCir{
    width: 40px;
    height: 40px;
    display: inline-block;        
    margin-top: 1vh;
    padding: 10px 4px 0;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: bold;
    box-shadow: 0 5px 10px -7px rgba(0,0,0,0.8);
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
   -webkit-appearance: none;
    margin: 0;
}
/* 중복버튼css */
/*input 은 숨겨주기*/
input#OcheckBox{
    display:none;
    }
  /*input 바로 다음의 label*/
  input#OcheckBox + label{
    cursor:pointer;
   }
  
  /*input 바로 다음의 label:before 에 체크하기 전 CSS 설정*/
  input#OcheckBox + label:before{
    content:"";
    display:inline-block;
    width:17px;
    height:17px;
    line-height:17px;
    border:1px solid #cbcbcb;
    vertical-align:middle;/*체크 전과 체크 후 높이 차이 때문에 설정*/
    }
    
  /*checked된 input 바로 다음의 label:before 에 체크 후 CSS 설정*/  
  input#OcheckBox:checked + label:before{
    content:"\f00c";/*폰트어썸 유니코드*/
    font-family:"Font Awesome 5 free"; /*폰트어썸 아이콘 사용*/
    font-weight:900;/*폰트어썸 설정*/
    color:#fff;
    background-color:#000;
    border-color:#000;
    font-size:13px;
    text-align:center;
    }

@media(max-width: 768px){
    .vline{
        border: none;
        width: auto;
        /* display: none; */

    }
    form{
        border: none;
    }
    section{
        flex-direction: column;
        align-items: center;
        /* justify-content: space-between; */
    }
    .left{
        margin-bottom: 10vh;
    }
    .numCir{
        font-size: 12px;
        width: 30px;
        height: 30px;
        padding: 8px 4px 0;

    }
    #printBox1, #printBox2 {
        width: 70vw;
    }  
    .left, .right{
        width: 80vw;
        /* background-color: aqua; */
    }
    
}
@media(max-width: 398px){
    .bi-gem-none, .bi-gem {
        display: none;
    }
}

.slide {
    position: relative;
    background: transparent;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.3em;
    color: rgba(102, 96, 86, 0);
    transition: all 0.4s ease-out;
    /* background: linear-gradient(270deg, rgba(230, 230, 230,0.8), rgba(102, 96, 86, 0.8), rgba(34,34,34,), rgba(34,34,34,)); */
    margin: 0.625rem;
    border: none;
  }
  
  .slide:hover {
    color: #fff;
    /* border: 1px solid rgba(223,190,106,0); */
    color: black;
    background-position: 5% 50%;
  }