<!DOCTYPE html>
<html>
  <head>
    <title>룰렛</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/css/roulette.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
  </head>
  
  <body>
    
    <h1>🍴 야식 메뉴 추천 룰렛 🥢</h1>
    <div class="roulette">
      <canvas width="380" height='380'></canvas><br>
      <button onclick="rotate()">룰렛 돌리기</button>
    </div>
    <script src="/static/js/roulette.js"></script>
  </body>
</html>