<style>
  .bi-list {
    color: white;
    font-size: 60px;
    position: absolute;
    left : 10px;
    top : -90px;
  }
</style>
    <i class="bi bi-list" data-bs-toggle="offcanvas" data-bs-target="#sideBar" aria-controls="sideBar" class="sideBarImage"></i>
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="sideBar" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-body">
            
            <div class="dropdown mt-3">
              <p class="dropdown-toggle" data-bs-toggle="dropdown">
                pomodoro
              </p>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Thema1</a></li>
                <li><a class="dropdown-item" href="#">Thema2</a></li>
                <li><a class="dropdown-item" href="#">Thema3</a></li>
                <li><a class="dropdown-item" href="#">Thema4</a></li>
                <li><a class="dropdown-item" href="#">Thema5</a></li>
              </ul>
            </div>

            <div class="dropdown mt-3">
                <p class="dropdown-toggle" data-bs-toggle="dropdown">
                  timer
                </p>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Thema1</a></li>
                    <li><a class="dropdown-item" href="#">Thema2</a></li>
                    <li><a class="dropdown-item" href="#">Thema3</a></li>
                    <li><a class="dropdown-item" href="#">Thema4</a></li>
                    <li><a class="dropdown-item" href="#">Thema5</a></li>
                </ul>
              </div>

              <div class="dropdown mt-3">
                <p class="dropdown-toggle" data-bs-toggle="dropdown">
                  stopwatch
                </p>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Thema1</a></li>
                    <li><a class="dropdown-item" href="#">Thema2</a></li>
                    <li><a class="dropdown-item" href="#">Thema3</a></li>
                    <li><a class="dropdown-item" href="#">Thema4</a></li>
                    <li><a class="dropdown-item" href="#">Thema5</a></li>
                </ul>
              </div>
          </div>
    </div>
    
