    <i class="bi bi-list" data-bs-toggle="offcanvas" data-bs-target="#sideBar" aria-controls="sideBar" class="sideBarImage"></i>
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="sideBar" aria-labelledby="offcanvasWithBothOptionsLabel">
      <div class="offcanvas-body">
        <div class="dropdown mt-3">
              <p class="dropdown"><a href="/">Get timer</a></p>
              <p class="dropdown-toggle" data-bs-toggle="dropdown">
                pomodoro
              </p>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/pomodoro_dark">dark</a></li>
                <li><a class="dropdown-item" href="/pomodoro_light">light</a></li>
                <li><a class="dropdown-item" href="/pomodoro_tomato">tomato</a></li>
                <li><a class="dropdown-item" href="/pomodoro_fresh">fresh</a></li>
                <li><a class="dropdown-item" href="/pomodoro_sky">sky</a></li>
                <li><a class="dropdown-item" href="/pomodoro_dog">dog</a></li>
                <li><a class="dropdown-item" href="/pomodoro_cat">cat</a></li>
                <li><a class="dropdown-item" href="/pomodoro_whale">whale</a></li>
                <li><a class="dropdown-item" href="/pomodoro_mancity">Manchester City</a></li>
                <li><a class="dropdown-item" href="/pomodoro_manuni">Manchester United</a></li>
                <li><a class="dropdown-item" href="/pomodoro_tottenham">Tottenham Hotspur</a></li>
                <li><a class="dropdown-item" href="/pomodoro_psg">Paris Saint-Germain</a></li>
              </ul>
            </div>

            <div class="dropdown mt-3">
                <p class="dropdown-toggle" data-bs-toggle="dropdown">
                  timer
                </p>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/timer_dark">dark</a></li>
                  <li><a class="dropdown-item" href="/timer_light">light</a></li>
                  <li><a class="dropdown-item" href="/timer_tomato">tomato</a></li>
                  <li><a class="dropdown-item" href="/timer_fresh">fresh</a></li>
                  <li><a class="dropdown-item" href="/timer_sky">sky</a></li>
                  <li><a class="dropdown-item" href="/timer_dog">dog</a></li>
                  <li><a class="dropdown-item" href="/timer_cat">cat</a></li>
                  <li><a class="dropdown-item" href="/timer_whale">whale</a></li>
                  <li><a class="dropdown-item" href="/timer_mancity">Manchester City</a></li>
                  <li><a class="dropdown-item" href="/timer_manuni">Manchester United</a></li>
                  <li><a class="dropdown-item" href="/timer_tottenham">Tottenham Hotspur</a></li>
                  <li><a class="dropdown-item" href="/timer_psg">Paris Saint-Germain</a></li>
                </ul>
              </div>

              <div class="dropdown mt-3">
                <p class="dropdown-toggle" data-bs-toggle="dropdown">
                  stopwatch
                </p>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/sw_dark">dark</a></li>
                  <li><a class="dropdown-item" href="/sw_light">light</a></li>
                  <li><a class="dropdown-item" href="/sw_tomato">tomato</a></li>
                  <li><a class="dropdown-item" href="/sw_fresh">fresh</a></li>
                  <li><a class="dropdown-item" href="/sw_sky">sky</a></li>
                  <li><a class="dropdown-item" href="/sw_dog">dog</a></li>
                  <li><a class="dropdown-item" href="/sw_cat">cat</a></li>
                  <li><a class="dropdown-item" href="/sw_whale">whale</a></li>
                  <li><a class="dropdown-item" href="/sw_mancity">Manchester City</a></li>
                  <li><a class="dropdown-item" href="/sw_manuni">Manchester United</a></li>
                  <li><a class="dropdown-item" href="/sw_tottenham">Tottenham Hotspur</a></li>
                  <li><a class="dropdown-item" href="/sw_psg">Paris Saint-Germain</a></li>
                </ul>
              </div>

              <hr>
              <p class="dropdown"><a href="/wordle">Wordle</a></p>
              <p class="dropdown"><a href="/gababo">Gababo</a></p>
              <p class="dropdown"><a href="/lotto">Lotto</a></p>
              <p class="dropdown"><a href="/roulette">Roulette</a></p>
          </div>
    </div>
    
