<button class="sideBar" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    &equiv;
  </button>
  
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-body">
      <div class="dropdown mt-3">
        <ul><a class="main" href="/">Get timer</a></ul>
        <p class="dropdown-toggle" data-bs-toggle="dropdown">
          pomodoro
        </p>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/pomodoro_dark">dark</a></li>
          <li><a class="dropdown-item" href="/pomodoro_light">light</a></li>
          <li><a class="dropdown-item" href="/pomodoro_tomato">tomato</a></li>
          <li><a class="dropdown-item" href="/pomodoro_fresh">fresh</a></li>
          <li><a class="dropdown-item" href="/pomodoro_sky">sky</a></li>
          <li><a class="dropdown-item" href="/pomodoro_dog">dog</a></li>
          <li><a class="dropdown-item" href="/pomodoro_cat">cat</a></li>
          <li><a class="dropdown-item" href="/pomodoro_whale">whale</a></li>
          <li><a class="dropdown-item" href="/pomodoro_mancity">Manchester City</a></li>
          <li><a class="dropdown-item" href="/pomodoro_manuni">Manchester United</a></li>
          <li><a class="dropdown-item" href="/pomodoro_tottenham">Tottenham Hotspur</a></li>
          <li><a class="dropdown-item" href="/pomodoro_psg">Paris Saint-Germain</a></li>
        </ul>
      </div>

      <div class="dropdown mt-3">
          <p class="dropdown-toggle" data-bs-toggle="dropdown">
            timer
          </p>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/timer_dark">dark</a></li>
            <li><a class="dropdown-item" href="/timer_light">light</a></li>
            <li><a class="dropdown-item" href="/timer_tomato">tomato</a></li>
            <li><a class="dropdown-item" href="/timer_fresh">fresh</a></li>
            <li><a class="dropdown-item" href="/timer_sky">sky</a></li>
            <li><a class="dropdown-item" href="/timer_dog">dog</a></li>
            <li><a class="dropdown-item" href="/timer_cat">cat</a></li>
            <li><a class="dropdown-item" href="/timer_whale">whale</a></li>
            <li><a class="dropdown-item" href="/timer_mancity">Manchester City</a></li>
            <li><a class="dropdown-item" href="/timer_manuni">Manchester United</a></li>
            <li><a class="dropdown-item" href="/timer_tottenham">Tottenham Hotspur</a></li>
            <li><a class="dropdown-item" href="/timer_psg">Paris Saint-Germain</a></li>
          </ul>
        </div>

        <div class="dropdown mt-3">
          <p class="dropdown-toggle" data-bs-toggle="dropdown">
            stopwatch
          </p>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/sw_dark">dark</a></li>
            <li><a class="dropdown-item" href="/sw_light">light</a></li>
            <li><a class="dropdown-item" href="/sw_tomato">tomato</a></li>
            <li><a class="dropdown-item" href="/sw_fresh">fresh</a></li>
            <li><a class="dropdown-item" href="/sw_sky">sky</a></li>
            <li><a class="dropdown-item" href="/sw_dog">dog</a></li>
            <li><a class="dropdown-item" href="/sw_cat">cat</a></li>
            <li><a class="dropdown-item" href="/sw_whale">whale</a></li>
            <li><a class="dropdown-item" href="/sw_mancity">Manchester City</a></li>
            <li><a class="dropdown-item" href="/sw_manuni">Manchester United</a></li>
            <li><a class="dropdown-item" href="/sw_tottenham">Tottenham Hotspur</a></li>
            <li><a class="dropdown-item" href="/sw_psg">Paris Saint-Germain</a></li>
          </ul>
        </div>

        <hr>
        <ul><a class="main" href="/wordle">Wordle</a></ul>
        <ul><a class="main" href="/gababo">Gababo</a></ul>
        <ul><a class="main" href="/lotto">Lotto</a></ul>
        <ul><a class="main" href="/roulette">Roulette</a></ul>
    </div>
  </div>