<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo sample</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/todo.css">

</head>
<body>
    
    <span class="todoLogo">todos</span>
    <div class="todoContainer todoOn">
        <h1 class="todoTop">
            <button class="todoOff">X</button>
            todo list
        </h1>
        <div class="todoMid">
            <form class="todoForm" action="">
            <input type="text" class="todoInput" placeholder="write your todo">
            <button type="submit" class="todoBtn">add</button>
        </form>
        <ul class="todoList"></ul>
        </div>
    </div>
    
    

    <script src="/static/js/todo.js"></script>
</body>
</html>