body {
    color: white;
    background-color: black;
}

.btn {
    color: white;
    background: black;
    border-color: white;
}

.moon {
    display: inline-block;
    animation: rotate_image 5s linear infinite;transform-origin: 50% 50%;}

@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}