body {
    background-image: url(https://i.pinimg.com/564x/f5/3b/84/f53b84612f2c18761c85531d6ba21149.jpg);
    background-size: contain;
    color: rgb(129, 90, 32);
}

.btn {
    background: rgb(129, 90, 32);
    color: white;
    border-color: white;
}
.inputBtn {
    background: rgb(129, 90, 32);
    color: white;
    border-color: white;
}