body {
    background-image: url(https://i.pinimg.com/564x/f5/3b/84/f53b84612f2c18761c85531d6ba21149.jpg);
    background-size: contain;
    color: rgb(129, 90, 32);
}

.btn {
    background: rgb(129, 90, 32);
    color: white;
    border-color: white;
}
.inputBtn {
    background: rgb(129, 90, 32);
    color: white;
    border-color: white;
}

.dog {
    display: inline-block;
    
}

.dog {
    animation: doridori 3s linear infinite;
}

@keyframes doridori {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(25deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(-25deg);
    }
    100% {
        transform: rotate(0);
    }
    
}

.sideBar {
    background-color: #F8F3F0;
    border: 0px;
    color: rgb(129, 90, 32);
}
.offcanvas {
    background-color: #F8F3F0;
}
.dropdown-menu {
    background-color: #ffccae;
}