body {
    background-color: rgb(255, 253, 163);
}

.btn {
    background:  rgb(255, 253, 163);
}
.inputBtn {
    background:  rgb(255, 253, 163);
}

.sun {
    display: inline-block;
    animation: rotate_image 5s linear infinite;transform-origin: 50% 50%;}

@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}