body {
    color: yellow;
    background-color: red;
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -5;
    opacity: 0.5;
}

.timer span{
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
}


.btn {
    background: yellow !important;
    color: red !important;
    border: none !important;
}
.inputBtn {
    background: yellow !important;
    color: red !important;
    border: none !important;
}

.sideBar {
    background-color: red;
    border: 0px;
    color: yellow;
}
.offcanvas {
    background-color: rgb(255, 95, 95);
}
.dropdown-menu {
    background-color: rgb(255, 156, 156);
}

.todoContainer,
.todoLogo {
    color: yellow !important;
    border-color: yellow !important;
}

.todoContainer {
    background-color: red !important;
}