body {
    margin: 0;
    padding: 0;
    text-align: center;   
    
}

.run-mode {
    background-color: tomato; 
}

.break-mode {
    background-color: #333;
}

.title {
    color: white;
    font-size: 50px;
    margin-top: 50px;
}

.alert-section {
    display: block;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 70px;
}

.timer {
    margin-top: 60px;
    font-size: 150PX;
    color: white;
}

.btn {
    color: white;
    font-size: 60px;
    margin-right: 40px;
    padding: 10px 60px; 
    border-radius: 70px;
    border: 3px solid white;
}

.btn-section {
    display: flex;
    justify-content: center;
}

.btn-section .start{
    background-color: green;
    margin-left: 40px;
}


.btn-section .reset{
    background-color: red;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0 3px 3px;
}

