.btn {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
}
.inputBtn {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(0, 0, 0) !important;
}

body {
    background-image: url(/static/img/sky.png);
    background-size: cover;
}

.title {
  color: white;
  -webkit-text-stroke: 1.5px black;

}

.sideBar {
  background-color: #A0D5DC;
  border: 0px;
  color: white;
}
.offcanvas {
  background-color: #A0D5DC;
}
.dropdown-menu {
  background-color: #65d8e8;
}

.todoContainer,
.todoLogo {
    color: white !important;
    border-color: white !important;
}

.todoContainer {
    background-color: #65d8e8 !important;
}
.cloud {
  width: 150px;
  height: 100px;
  position: absolute;   
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);

    animation-name: cloudMove;
    animation-duration: 10s;
    animation-iteration-count: 500;
    animation-timing-function: linear;
    animation-delay: 2s;
}

.cloud3 {
  width: 150px;
  height: 150px;
  position: absolute; 
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
}

.cloud2 {
  width: 150px;
  height: 100px;
  position: absolute;   
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);

    animation-name: cloudMove2;
    animation-duration: 6s;
    animation-iteration-count: 500;
    animation-timing-function: linear;
    animation-delay: 2s;
}

@keyframes cloudMove {
  0% {
      left: 0px;
  }
  25% {
      left: 200px;
  }
  50% {
      left: 400px;
  }
  75% {
      left: 200px;
  }
  100% {
      left: 0px;
  }
}

@keyframes cloudMove2 {
  0% {
      right: 0px;
      opacity: 1;
  }
  25% {
      right: 100px;
      opacity: 0.5;
  }
  50% {
      right: 200px;
      opacity: 0.5;
  }
  75% {
      right: 100px;
      opacity: 0.5;
  }
  100% {
      right: 0px;
      opacity: 1;
  }
}