
.todoLogo {
    position: fixed;
    top: 1%;
    left: 89%;
    border: 2px solid white;
    border-radius: 33%;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
    /* transform: translate(-100%,-100%); */
}

.todoOn {
    display: none !important;
}

.todoOff {
    position: absolute;
    left: 2%;
    top: 10px;
    color: inherit;
    background-color: inherit;
    border: none;
    font-weight: bold;
    font-size: 1.5rem;
}

.removeBtn {
    color: inherit;
    background-color: inherit;
    border: none;
    font-weight: bold;
}

.todoContainer {
    background-color: #fff2;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 75%;
    width: 25%;
    height: max-content;
    z-index: 1000;
    border: 2px solid white;
    overflow:auto;
}

.todoList {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todoLi {
    list-style-type: none;
    width: 80%;
}

.todoTop {
    height: 25%;
}

.todoMid {
    height: 75%;
}

.todoInput {
    width: 80%;
    height: auto;
    font-family: 'Jua', sans-serif;
    font-size: 16px;
    border: 0;
    border-radius: 15px;
    outline: none;
    margin: 0 auto;
    text-align: center;
}


.todoBtn {
    color: inherit;
    background-color: inherit;
    border: 1px solid;
    border-radius: 15px;
    font-weight: bold;
}