body {
    background-color: rgb(50, 49, 56);
    color: white;
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
}

.logo {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: -5;
}

.timer span{
    text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
}


.btn {
    background: rgb(26, 26, 138);
    color: white;
    border: none;
}
.inputBtn {
    background: rgb(26, 26, 138);
    color: white;
    border: none;
}