body {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/472/319/661/anime-original-fantasy-whale-hd-wallpaper-preview.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(19, 20, 75);
    background-color:rgb(35, 36, 61);
}

.btn {
    background: rgb(76, 78, 170);
    color: rgb(19, 20, 75);
    border: none;
}
.inputBtn {
    background: rgb(76, 78, 170);
    color: rgb(19, 20, 75);
    border: none;
}
