body {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/472/319/661/anime-original-fantasy-whale-hd-wallpaper-preview.jpg);
    background-size: cover;
    color: rgb(19, 20, 75);
    text-shadow: -2px 0 rgb(255, 255, 255) , 0 2px rgb(255, 255, 255), 2px 0 rgb(255, 255, 255), 0 -2px rgb(255, 255, 255);
}

.btn {
    background: rgb(76, 78, 170);
    color: rgb(19, 20, 75);
    border: none;
    text-shadow: -1px 0 rgb(255, 255, 255) , 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);


}
.inputBtn {
    background: rgb(76, 78, 170);
    color: rgb(19, 20, 75);
    border: none;
    text-shadow: -1px 0 rgb(255, 255, 255) , 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);    
}
