<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="mini game Lotto page">
    <title>Lotto</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css//miniGames/lotto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="/static/css/sideBarRe.css">
</head>
<body>
    <%- include('../sideBarRe.ejs') %>
    <header>
    <h1 class="title"><i class="bi bi-gem"></i> <a href="./lotto"> LOTTO GAME </a><i class="bi bi-gem"></i></h1>
    </header>

    <section>
    <div class="vline">
        <form class="left">
            <p class="subTitle">로또 뽑기</p>
            <div class="lottoInput">
                <label for="lotto">뽑을 로또 수: </label><input name="lotto" type="number" class="inputBtn" min="0" placeholder="ex) 5">
                <input  type="button" class="btn"  id="lottoDraw" value="뽑기!">
            </div>
            <br>
            <div id="printBox1">
                <span id="lottoPrint"></span>
                <input type="button" class="btn" name="linkBtn" value="당첨 번호 확인"onClick="window.open('https://dhlottery.co.kr/gameResult.do?method=byWin')">
            </div>
        </form>
    </div>

    
        <form class="right">
            <p class="subTitle">셀프 숫자 뽑기</p>
            <div class="numInput">
                <div>
                    <label for="NrangeStart">시작 수: </label><input name="NrangeStart" type="number" class="inputBtn" placeholder="ex) 1">
                    <label for="NrangeEnd">끝 수: </label><input name="NrangeEnd" type="number" class="inputBtn" placeholder="ex) 30">
                    <label for="Nsetting">뽑을 숫자 개수: </label><input name="Nsetting" type="number" class="inputBtn" placeholder="ex) 5">
                    <input type="checkbox" name="OcheckBox" id="OcheckBox"><label for="OcheckBox">중복허용</label>
                    
                    <!-- <label for="Nignor">제외할수</label>
                    <input name="Nignor" type="number" min="0" value1="9" value2="12"> -->
                    <input type="button"  id="numDraw" class="btn" value="뽑기!">
                </div>
                <div id="printBox2">
                    <span id="numPrint"></span>
                </div>
            </div>
            
        </form>

    </section>
<!-- 레이아웃 요소 기능 순 -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/js/miniGames/lotto.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>